
/* GENERAL */
.halloween-pattern-illustration-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* WRAPPER */
.wrapper {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid pink;
}

/* GHOST */
.wrapper.ghost-square {
    background-color: black;
}

.ghost {
    background-color: white;
    height: 70px;
    width: 40px;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.eye {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 15px;
}

/* PUMPKIN */
.wrapper.pumpkin-square {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pumpkin-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Stem */
.stem {
    width: 15px;
    height: 20px;
    border-radius: 15px 0 0 0;
    border: 5px solid white;
    border-right: none;
    border-bottom: none;
    margin-bottom: -5px;
    margin-left: 10px;
}


/* Bulge */
.bulge {
    background-color: white;
    height: 50px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}

/* Create 10px overlap with negative margins */
.bulge:not(:first-child) {
    margin-left: -15px;
}

/* WITCH HAT */
.wrapper.witch-hat-square {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hat-top {
    width: 0;
    height: 0;
    border-bottom: 40px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-bottom: -5px;
    z-index: 1;
}

.hat-band {
    width: 35px;
    height: 7px;
    background-color: black;
    z-index: 2;
    margin-bottom: -2px;
}

.hat-brim {
    width: 0;
    height: 0;
    border-bottom: 15px solid white;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    margin-top: -5px;
    z-index: 1;
}

/* X-LINES 
.wrapper.x-lines-square {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.line-1 {
    background-color: white;
    width: 5px;
    height: 150px;
    transform: rotate(-45deg);
}

.line-2 {
    background-color: white;
    width: 5px;
    height: 150px;
    transform: rotate(45deg);
}
*/

/* X-FILLED 
.wrapper.x-filled-square {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.triangle-top {
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-bottom: 50px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
*/ 


