/* GENERAL */
.tv-illustration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TV TOP */
.tv-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-semicircle {
    width: 100px;
    height: 50px;
    border-radius: 50px 50px 0 0;
    background-color: black;
    position: relative;
}

/* TV BOX */
.tv-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TV BOTTOM */
.tv-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}