.rain-cloud-illustration-container {
    width: 100%;
    height: 100%;
    background-color: #6D7C85;
}

.drawing-container {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

/* =========== RAIN CLOUD =========== */

.rain-cloud-container {
    display: flex;
    align-items: flex-end; /* bottom alignment of cloud parts */
}

.rain-cloud-1 {
    border-radius: 50% 50% 5% 50%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 80px;
    height: 80px;
    margin-right: -20px;
}

.rain-cloud-2 {
    border-radius: 50% 50% 5% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 120px;
    height: 120px;
    margin-right: -30px;
}

.rain-cloud-3 {
    border-radius: 50% 50% 5% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 150px;
    height: 150px;
    margin-right: -30px;
}

.rain-cloud-4 {
    border-radius: 50% 50% 50% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 100px;
    height: 100px;
}

.rain-drops-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: -10px;
}

.rain-drop {
    width: 30px;
    height: 50px;
     background: 
        radial-gradient(circle at 20% 40%, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 40%),
        linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.05)),
        #4FC3F7;
    clip-path: path("M10 30 C20 30, 20 15, 10 0 C0 15, 0 30, 10 30 Z");
    animation: fall 2.5s infinite linear; 
}

.rain-drop-1 { margin-top: 70px; animation-delay: 0s}
.rain-drop-2 { margin-top: 10px; animation-delay: 1.5s;}
.rain-drop-3 { margin-top: 40px; animation-delay: 0.5s;}
.rain-drop-4 { margin-top: 90px; animation-delay: 1s}
.rain-drop-5 { margin-top: 20px; animation-delay: 2.5s}
.rain-drop-6 { margin-top: 50px; animation-delay: 2s}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(20px);
    opacity: 1;
  }
  50% {
    transform: translateY(70px);
    opacity: 1;
  }
  80% {
    transform: translateY(100px);
    opacity: 1;
  }
  90% {
    transform: translateY(150px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}