/* Colors */
:root {
    --bg: #7ec8d8;
    --bg-shadow: #5a9fb0;
    --ice-cream-base: #f4e8d0;
    --ice-cream-highlight:#fdf8ec;
    --cone-base: #f5c97b;
    --cone-shadow: #d9a857;
    --cone-shadow-dark: #bd9049;
}

.soft-serve-illustration-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ec8d8; 
}

.drawing-scaling-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.drawing-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ICE CREAM */ 
.soft-serve-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.soft-serve-top {
    width: 165px;
    height: 65px;
    background: var(--ice-cream-base);
    clip-path: path("M82.5 65 C123.75 65, 123.75 32.5, 82.5 0 C41.25 32.5, 41.25 65, 82.5 65 Z");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(1.6);
    top: 10px;
}

.soft-serve-top::before {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    width: 165px;
    height: 65px;
    background: var(--ice-cream-highlight);
    clip-path: path("M82.5 65 C123.75 65, 123.75 32.5, 82.5 0 C41.25 32.5, 41.25 65, 82.5 65 Z");
    z-index: -1;
}

.soft-serve-middle {
    background-color: var(--ice-cream-base);
    width: 160px;
    height: 65px;
    border-radius: 65px;
    top: 10px;
    position: relative;
}

.middle-shadow {
    background-color: var(--ice-cream-base);
    width: 75px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    right: 25px;
}

.middle-highlight {
    background-color: var(--ice-cream-highlight);
    width: 140px;
    height: 55px;
    border-radius: 65px;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.middle-highlight-left {
    background-color: var(--ice-cream-highlight);
    width: 65px;
    height: 70px;
    border-top-left-radius: 65px 65px;
    border-top-right-radius: 65px 65px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(-90deg);
    z-index: 2;
    position: absolute;
    top: -2.7px;
}

.soft-serve-bottom {
    background-color: var(--ice-cream-base);
    width: 200px;
    height: 65px;
    border-radius: 65px;
    position: relative;
}

.bottom-shadow {
    background-color: var(--ice-cream-base);
    width: 120px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    right: 25px;
}

.bottom-highlight {
    background-color: var(--ice-cream-highlight);
    width: 180px;
    height: 55px;
    border-radius: 65px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.bottom-highlight-left {
    position: absolute;
    z-index: 2;
    background-color: var(--ice-cream-highlight);
    width: 65px;
    height: 45px;
    border-top-left-radius: 65px 65px;
    border-top-right-radius: 65px 65px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(-90deg);
    top: 10px;
    left: -12px;
}

.cone-top {
    background-color: var(--cone-base);
    width: 140px;
    height: 5px;
    position: relative;
}

.cone-top-side-shadow {
    background-color: var(--cone-shadow);
    width: 30px;
    height: 5px;
    right: 0px;
    position: absolute;
}

.cone-middle {
    background-color: var(--cone-base);
    position: relative;
    width: 130px;
    height: 30px;
}

.cone-middle-shadow {
    width: 130px;
    height: 5px;
    background-color: var(--cone-shadow);
}

.cone-middle-shadow-overlap {
    width: 30px;
    height: 5px;
    background-color: var(--cone-shadow-dark);
    top: 0px;
    position: absolute;
    right: 0;
}

.cone-middle-side-shadow {
    background-color: var(--cone-shadow);
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0px;
}

.cone-bottom-wrapper {
    position: relative;
    width: 115px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cone-bottom {
    width: 110px;
    height: 0;
    border-bottom: 100px solid var(--cone-base);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transform: rotate(180deg);
    position: relative;
    z-index: 1;

}

.cone-bottom-shadow {
    width: 110px;
    height: 0;
    border-bottom: 10px solid var(--cone-shadow); 
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    top: 90px;
    position: absolute;
    left: -15px;
    z-index: 2;
    
}

.cone-bottom-shadow-overlap {
    width: 32px;
    height: 0;
    border-bottom: 10px solid var(--cone-shadow-dark) ;
    border-left: 0px solid transparent;
    border-right: 1.5px solid transparent;
    position: absolute;
    top: 90px;
    left: -15.5px;
    transform: skewX(-12deg); /* Adjust to match left-side slant */
    z-index: 4;
}

.cone-bottom-side-shadow {
    height: 110px;
    background-color: var(--cone-shadow);
    width: 30px;
    transform: rotate(8deg);
    overflow: hidden;
    bottom: -95px;
    left: -7px;
    position: absolute;
    z-index: 3;
}

.cone-shadow {
    width: 200px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--bg-shadow);
    position: absolute;
    z-index: 0;
    bottom: -12.5px;
    left: 0px;
}

/* Hashtag marks */
/* Hash 1 */
.hash-1-line-1 {
    background-color: #d9a857;
    position: absolute;
    height: 40px;
    width: 5px;
    left: 58px;
    border-radius: 5px;
    top: 50px;
    transform: rotate(-45deg);
}

.hash-1-line-2 {
    background-color: #d9a857;
    position: absolute;
    height: 40px;
    width: 5px;
    left: 65px;
    border-radius: 5px;
    top: 35px;
    transform: rotate(-45deg);
}

.hash-1-line-3 {
    background-color: #d9a857;
    position: absolute;
    height: 40px;
    width: 5px;
    left: 55px;
    border-radius: 5px;
    top: 35px;
    transform: rotate(45deg);
}

.hash-1-line-4 {
    background-color: #d9a857;
    position: absolute;
    height: 35px;
    width: 5px;
    left: 65px;
    border-radius: 5px;
    top: 50px;
    transform: rotate(45deg);
}

/* Hash 2 */
.hash-2-line-1 {
    background-color: #bd9049;
    position: absolute;
    height: 35px;
    width: 5px;
    right: 68px;
    top: 10px;
    border-radius: 5px;
    transform: rotate(-45deg);
    z-index: 4;
    overflow: hidden;
}

.hash-2-line-2 {
    background-color: #bd9049;
    position: absolute;
    height: 30px;
    width: 5px;
    right: 70px;
    top: 5px;
    border-radius: 5px;
    transform: rotate(45deg);
    z-index: 4;
}

.hash-2-line-3 {
    background-color: #bd9049;
    position: absolute;
    height: 35px;
    width: 5px;
    right: 65px;
    top: 15px;
    border-radius: 5px;
    transform: rotate(45deg);
    z-index: 4;
}
