/* Colours */
:root {
    --frame: #b04e61;
    --frame-shadow: #944f5d;
    --frame-border: #79404d;
    --wall: #efecc7;
    --board: #878b93;
    --text: #f6f8fc;
}

/* Container */

.burger-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--wall);
}

/* Frame */
.frame {
    z-index: 2;
    width: 280px;
    height: 380px;
    background-color: var(--frame);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid var(--frame-border);
    position: relative;
}

/* Left side depth */
.frame::before {
    content: '';
    position: absolute;
    bottom: 9px;
    right: 100%;
    width: 8px;
    height: 100%;
    background-color: var(--frame-shadow);
    transform: skewY(45deg);
    transform-origin: top left;
    z-index: 1;
    border: 2px solid var(--frame-border);
    border-radius: 2px;
}

/* Top depth */
.frame::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 9px;
    width: 101%;
    height: 12px;
    background-color: var(--frame-shadow);
    transform: skewX(45deg);
    transform-origin: top left;
    z-index: 1;
    border: 2px solid var(--frame-border);
    box-sizing: border-box;
    border-radius: 2px;
}

/* Board */
.board {
    width: 250px;
    height: 350px;
    background-color: var(--board);
    color: var(--text);
    z-index: 3;
    border: 2px solid var(--frame-border);
}

/* Header */
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-top {
    text-transform: uppercase;
    font-family: indie flower;
    color: var(--text);
    margin-top: 10px;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.header-bottom {
    text-transform: uppercase;
    font-family: indie flower;
    color: var(--text);
    font-size: 1.5rem;
    text-decoration: underline;
    margin-top: -20px;
    margin-bottom: 20px;
}

.name {
    font-family: indie flower;
    color: var(--text);
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 0;
    width: 170px;
}

.description {
    font-family: indie flower;
    color: var(--text);
    font-size: 1rem;
    margin-bottom: 0;
    width: 200px;
}

.price {
    font-family: indie flower;
    color: var(--text);
    font-size: 1.5rem;
}

/* Text */