/* COLOR PALETTE */
:root {
    /* Old color palette 
    --orange-dark: #cf6824;
    --orange-medium: #dd7a23;
    --orange-light: #eaa331;
    --teal-dark: #477a67;
    --teal-medium: #749b81;
    --teal-light: #a0bb9c;
    --cream: #f4d59e;
    */
    /* NEW COLOR PALETTE */
    /* Light off-white background */
    /* Light off-white background */
    --cream: #FFFEFB;
    --pink-dark: #4A5668;
    --pink-medium: #6B7A8C;
    --pink-light: #95A3B3;
    --olive-dark: #B39C7D;
    --olive-medium: #CDBAA0;
    --olive-light:  #DFD4BE;
}

/* GENERAL */

.diamond-pattern-illustration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    gap: 40px;
}

.diamond-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.diamond {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SPACE */
.space {
    background-color: var(--cream);
}

.space.outer {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space.inner {
    width: 40px;
    height: 40px;
        display: flex;
    align-items: center;
    justify-content: center;
}

/* TEAL DIAMOND */
.diamond.teal {
    background-color: var(--olive-dark);
}

.teal.middle {
    background-color: var(--olive-medium);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teal-inner {
    background-color: var(--olive-light);
    width: 20px;
    height: 20px;
}

/* ORANGE DIAMOND */
.diamond.orange {
    background-color: var(--pink-dark);
}

.orange.middle {
    background-color: var(--pink-medium);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange.inner {
    background-color: var(--pink-light);
    width: 20px;
    height: 20px;
}


/* DIAMONDS */
/* 

.diamond.orange {
    background-color: var(--orange-light);
    box-sizing: border-box;
    border: 15px solid var(--orange-dark);
    box-shadow: inset 0 0 0 15px var(--orange-medium);
}

.diamond.teal {
    background-color: var(--teal-light);
    box-sizing: border-box;
    border: 15px solid var(--teal-dark);
    box-shadow: inset 0 0 0 15px var(--teal-medium);
}
*/ 